<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title1212</title>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
</head>
<body>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: 'https://sp0.baidu.com/8aQDcjqpAAV3otqbppnN2DJv/api.php?query=2018%E5%B9%B41%E6%9C%88&resource_id=6018',
            type: 'GET',
            async: false,
            dataType: 'jsonp',
            jsonp: 'cb',
            jsonpCallback: 'jQuery1102009526197252905422_1513932542817',
            success: function (result) {
                console.log(result);
            },
            error: function (e) {
                console.log(e);
            }
        });
    });
</script>
</body>
</html>